registry=https://ric.jfrog.io/ric/api/npm/npm
_auth=ZmVkLW5wbS1pbnN0YWxsLXVzZXI6QUtDcDJWb3VqWDNwTVhRTXZtaGlEbXRNVTNLNWh6bnZEb3FBVHg5Uld4cFhNZ0VuM0FzcnVDRVNaRkpDNE5HQzhveThUQVZLNA==
always-auth=true
email=cedric.meury@ricardo.ch